.c-footer {
  background-color: color('black');
  padding: 20px 0;
  overflow: hidden;
  color: color('light-transparent-white');
  font-size: 14px;

  &__body {
    padding: 20px 0px;
    overflow: hidden;
  }

  &__contact {
    float: left;
    line-height: 1.4em;
  }

  &__links {
    float: right;
  }

  &__link {
    display: inline-block;

    &:hover {
      color: color('link');
    }
  }
}

@media (max-width: 768px) {
  .c-footer {
    padding: 10px 0;
  }
}
