
.c-not-found {
  background-color: color('blue');
  padding: 120px 100px;

  &__title {
    padding: 10px 0;
    font-size: 18px;
    color: color('white');
    font-weight: $bold;
  }

  &__body {
    font-size: 14px;
    color: color('light-grey');
  }

  &__icon {
    height: 16px;
    width: auto;
    margin-right: 8px;
  }
}
