.c-people {
  &__cards {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
  } 

  &__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 1 auto;
    margin: 0 15px;
    padding: 10px 0;
    color: color('dark-grey');
    font-size: 12px;
    width: 170px;
  }

  &__card-image {
    flex: 0 1 auto;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
  }

  &__card-item {
    flex: 0 1 auto;
    margin: 4px 0;
    width: 100%;
    text-align: center;
  }

  &__card-name {
    padding-bottom: 4px;
    font-size: 16px;
    color: color('black');
  }
}