.c-sub-header {
  padding: 10px+50px 0 30px 0;
  background: linear-gradient(135deg, color('black') 22px, color('dark-grey') 22px, color('dark-grey') 23px, transparent 23px, transparent 67px, color('dark-grey') 67px, color('dark-grey') 68px, transparent 68px), linear-gradient(225deg, color('black') 22px, color('dark-grey') 22px, color('dark-grey') 23px, transparent 23px, transparent 67px, color('dark-grey') 67px, color('dark-grey') 68px, transparent 68px)0 64px;
  background-color: color('black');
  background-size: 64px 128px;
  color: color('white');

  &__title {
    padding: 12px 0;
    font-size: 44px;
    font-weight: $bold;
    line-height: 1.6em;
  }

  &__sub-title {
    font-size: 26px;
    line-height: 1.2em;
  }
}

@media (max-width: 768px) {
  .c-sub-header {
    &__title {
      font-size: 28px;
      line-height: 1.4em;
    }

    &__sub-title {
      padding-top: 12px;
      font-size: 20px;
      line-height: 1.2em;
    }
  }
}