.c-sub-header {
  padding: 10px+50px 0 30px 0;
  background-color: color('blue');
  color: color('white');

  &__title {
    font-size: 44px;
    font-weight: $bold;
    line-height: 2em;
  }

  &__sub-title {
    font-size: 26px;
    line-height: 1.2em;
  }
}