
@function color($color-name) {
  $color: map-get((
    'link': #91c200,
    'pink': #e6556c,
    'yellow': #f2c230,
    'lime': #91c200,
    'blue': #188ace,
    'lightblue': #eeeefa,
    'red': #dc3847,

    'white': #ffffff,
    'light-transparent-white': rgba(255, 255, 255, 0.7),
    'heavy-transparent-white': rgba(255, 255, 255, 0.3),
    'light-white': #eeeeee,
    'light-grey': #dddddd,
    'grey': #999999,
    'dark-grey': #6d6d6d,
    'black': #222222,
    'none': #000000
  ), $color-name);
  @return $color;
}
